@import "tailwindcss";

input{
    @apply bg-gray-50 border border-gray-300 text-gray-900 rounded-lg block w-full p-2.5
}

textarea{
    @apply bg-gray-50 border border-gray-300 text-gray-900 rounded-lg block w-full p-2.5
}